
<div class="main-content">
  <div class="container-fluid">
    <!-- <mat-dialog-actions>
        <button style="color: #ffff;
        background-color: #55b559;
        margin-top: -5px;
        margin-left: 86%;"
        mat-raised-button
        (click)="openDialog()"
        >Add Customer (+)</button>
    </mat-dialog-actions> -->
   
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger d-flex">
                      <h4 class="card-title ">List of Customers</h4>             
                      <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                                  <th>
                                    Block
                                  </th>
                                  <th>
                                    Actions
                                </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <!-- <td class="text-primary">
                                      </td> -->
                                        <td>
                                          $36,738
                                        </td>
                                        <td>
                                            <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
                                        </td>
                                        <td class="d-flex">
                                            <mat-dialog-actions style="margin-bottom: 0;" >
                                                <button style="background: none;
                                                color: inherit;
                                                border: none;
                                                padding: 0;
                                                margin:0;
                                                font: inherit;
                                                cursor: pointer;
                                                outline: inherit;
                                                align-items: center;
                                                justify-content: center;"
                                                (click)="openDialogViewCus()"><mat-icon >visibility</mat-icon> </button>
                                            </mat-dialog-actions>
                                            <mat-dialog-actions style="margin-bottom: 0; margin-left: 5px;" >
                                                <button style="background: none;
                                                color: inherit;
                                                border: none;
                                                padding: 0;
                                                margin:0;
                                                font: inherit;
                                                cursor: pointer;
                                                outline: inherit;
                                                align-items: center;
                                                justify-content: center;"
                                                (click)="confirmBox()"><mat-icon >delete</mat-icon></button>
                                                
                                            </mat-dialog-actions>
                                        </td>
                                     
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td >
                                          $23,789
                                      </td>
                                      <td>
                                        <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
                                    </td>
                                      <td>
                                        <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
                                        <mat-icon>visibility</mat-icon>
                                        <mat-icon class="ml-2">delete</mat-icon>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td >
                                          $56,142
                                      </td>
                                      <td>
                                        <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
                                    </td>
                                      <td>
                                        <mat-icon>visibility</mat-icon>
                                        <mat-icon class="ml-2">delete</mat-icon>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td >
                                          $38,735
                                      </td>
                                      <td>
                                        <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
                                      </td>
                                      <td>
                                        <mat-icon>visibility</mat-icon>
                                        <mat-icon class="ml-2">delete</mat-icon>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td >
                                          $63,542
                                      </td>
                                      <td>
                                        <mat-slide-toggle ngModel name="enableWifi"></mat-slide-toggle>
                                      </td>
                                      <td>
                                        <mat-icon>visibility</mat-icon>
                                        <mat-icon class="ml-2">delete</mat-icon>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td >
                                          $78,615
                                      </td>
                                      <td>
                                        <mat-slide-toggle  ngModel name="enableWifi"></mat-slide-toggle>
                                      </td>
                                      <td>
                                        <mat-icon>visibility</mat-icon>
                                        <mat-icon class="ml-2">delete</mat-icon>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card ">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Customer Details</h4>
                      <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- <h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  
  <p>An app's components typically define many views, arranged hierarchically. Angular provides
  the Router service to help you define navigation paths among views. The router provides
  sophisticated in-browser navigational capabilities.</p>
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions> -->

